div {
    box-sizing: border-box;
}
 #container {
    width: 200px;
    margin: 15px auto 15px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
.square {
    flex: 0 0 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;    
}
.square>.default {
    background-color: grey;
}